<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="ServiceControlTargetMachine" value="192.168.50.196"/>
		<add key="ServiceControlTargetMachine" value="."/>
		<add key="SmtpServer" value=""/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpEnableSsl" value="true"/>
		<add key="SmtpUsername" value=""/>
		<add key="SmtpPassword" value=""/>
		<add key="SenderEmail" value=""/>
		<add key="SenderDisplayName" value="CSMT Notification"/>
	</appSettings>
	<connectionStrings>
		<add name="CustomerAndServerMaintenanceTracking"
			 connectionString="Data Source=192.168.50.196;Initial Catalog=CustomerAndServerMaintenanceTracking;User ID=server;Password=Server123!;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>